.about__repair {
    max-width: calc(1438px + 16px *2);
    padding: 0 16px;
    margin: 0 auto;
    height: 707px;
    background-color: #131313;
    display: flex;
    justify-content: space-between;

}

.about__repair__link__inst {
    font-family: 'FuturaDemiC';
    font-size: 14px;
    line-height: 16px;
    transform: rotate(90deg);
    color: #E3B873;
    display: flex;
    justify-content: flex-start;
    align-items: center ;
    text-decoration: none;
}
.about__repair__main {
    width: 1356px;
    height: 707px;
    background-image: url(../assets/images/about/image\ 4.3.png);
    background-size: cover;
    z-index: 0;
}
.wrapper {
    width: 1356px;
    height: 707px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 194px 0 208px 60px;
}


.about__repair__main__tittle {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #FFFFFF;
    max-width: 510px;
    margin-bottom: 19px;
    text-transform: uppercase;
}
.rostov {
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    color: #E3B873;
    text-transform: uppercase;
}
.about__repair__main__descr {
    font-family: 'FuturaBookC';
    font-size: 22px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom: 41px;
    max-width: 504px;
}
.about__repair__main__calc {
    width: 207px;
    height: 51px;
    background-color: #E3B873;
    font-family: 'FuturaDemiC';
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
    border-radius: 2px;
    box-shadow: 0px 5px 15px #E3B8734D;
    margin-right: 20px;
}
.about__repair__main__submit {
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    width: 207px;
    height: 51px;
    background-color: transparent;
    font-family: 'FuturaDemiC';
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}