footer {
    padding: 48px 0;
    background-color: #000000;

    @media (max-width:768px) {
        display: none;
    }

    .footer__box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-family: 'FuturaDemiC';
            font-size: 14px;
            line-height: 16px;
            font-style: normal;
            color: #E3B873;

            @media (max-width:1024px) {
                font-size: 13px;
                line-height: 15px;
            }


        }
        .navigation__links {
            width: 582px;
            display: flex;
            justify-content: space-between;

            @media (max-width:1024px) {
                width: 380px;
            }

            .navigation__link {
                color: #FFFFFF;
                font-family: 'FuturaBookC';
                font-size: 14px;
                line-height: 16px;
                font-style: normal;
                text-decoration: none;

                @media (max-width:1024px) {
                    font-size: 12px;
                    line-height: 14px;
                }

                &:hover {
                    font-family: 'FuturaBookC';
                    font-size: 14px;
                    line-height: 16px;
                    color: #E3B873;
                    font-style: normal;
                    text-decoration: none;
                }
            }

        }
        .footer__info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .footer__number {
                font-family: 'FuturaDemiC';
                font-size: 14px;
                line-height: 16px;
                color: #E3B873;
                font-style: normal;
                text-decoration: underline;

                @media (max-width:1024px) {
                    font-size: 13px;
                    line-height: 15px;
                }
            }
            .footer__button {
                width: 161px;
                height: 37px;
                margin: 0 0 0 45px;
                background-color: #E3B873;
                border-radius: 2px;
                box-shadow: 0px 5px 15px #E3B87333;
                font-family: 'FuturaDemiC';
                font-size: 13px;
                line-height: 15px;
                text-align: center;
                font-style: normal;
                color: #FFFFFF;

                @media (max-width:1024px) {
                    font-size: 12px;
                    line-height: 14px;
                    width: 130px;
                    height: 30px;
                }

            }
        }
    }
}