@import url(./header.scss);
@import url(./about.scss);
@import url(./completed.scss);
@import url(./onlinecontrol.scss);
@import url(./types.scss);
@import url(./measurer.scss);
@import url(./clients.scss);
@import url(./contacts.scss);
@import url(./footer.scss);
@import url(./fantasy.scss);
@import url(./design.scss);
@import url(./steps.scss);
@import url(./team.scss);

@font-face {
    font-family: "FuturaDemiC";
    src: url(../assets/fonts/futurademic.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "FuturaBookC";
    src: url(../assets/fonts/futurabookc.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Yeseva One";
    src: url(../assets/fonts/YesevaOne-Regular.ttf) format("ttf");
    font-weight: 400;
    font-style: normal;
}
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }
 .content {
    max-width: calc(1236px + 16px*2);
    padding: 0 16px;
    margin: 0 auto;

    @media (max-width:768px) {
        padding: 0 18px;
    }
 }

